<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <title>SWC FlexNit Converter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Software City">

    <link rel="stylesheet" href="/static/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/static/font/material_icons/material_icons.css">
    <link rel="stylesheet" href="/static/css/index.css">

    <script src="/static/bootstrap/bootstrap.bundle.min.js" defer></script>
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>